@tailwind base;
@tailwind components;
@tailwind utilities;

body {
      margin: 0;
    }
    html {
      scroll-behavior: smooth;
      background-color: black;
    }

    .transition-transform {
      transition: transform 0.75s ease-in-out;
    }
    