@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'Gendy';
  src: url('./assets/fonts/Gendy.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gendy', serif;
}

html {
  scroll-behavior: smooth;
  background-color: black;
}

.transition-transform {
  transition: transform 0.75s ease-in-out;
}
.swiper-slide {
  background-color: white;
  flex-shrink: 0;
  height: 100%;
  padding: 25px;
  position: relative;
  transition-property: transform;
  display: block;
  background-color: white;
  border-radius: 20px;
}