@import url("https://use.typekit.net/bgq5ehd.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
      font-family: 'Muli';
      src: url('https://use.typekit.net/bgq5ehd.css'); 
      src: url('https://use.typekit.net/bgq5ehd.woff2') format('woff2'), url('https://use.typekit.net/bgq5ehd.woff') format('woff');
    }
    
    @font-face {
      font-family: 'Gendy';
      src: url('https://use.typekit.net/other-font-file.css');
      src: url('https://use.typekit.net/other-font-file.woff2') format('woff2'), url('https://use.typekit.net/other-font-file.woff') format('woff');
    }
    
    body {
      font-family: 'Muli', sans-serif;
    }
    
    h1, h2, h3, h4, h5, h6 {
      font-family: 'Gendy', serif;
    }
    